    @font-face {
    font-family: Ubuntu;
    font-weight: 700;
    font-style: normal;
    src:
        local("Ubuntu"),
        url("/cinema_pro_neoflix/fonts/Ubuntu-Bold.woff2") format('woff2'),
        url("cinema_pro_neoflix/fonts/Ubuntu-Bold.woff") format('woff'),
        url("cinema_pro_neoflix/fonts/Ubuntu-Bold.eot") format('eot');
    font-display: swap;
    }
    @font-face {
    font-family: Ubuntu;
    font-weight: 500;
    font-style: normal;
    src:
        local("Ubuntu"),
        url("cinema_pro_neoflix/fonts/Ubuntu-Medium.woff2") format('woff2'),
        url("cinema_pro_neoflix/fonts/Ubuntu-Medium.woff") format('woff'),
        url("cinema_pro_neoflix/fonts/Ubuntu-Medium.eot") format('eot');
    font-display: swap;
    }
    @font-face {
    font-family: Ubuntu;
    font-weight: 400;
    font-style: normal;
    src:
        local("Ubuntu"),
        url("cinema_pro_neoflix/fonts/Ubuntu-Regular.woff2") format('woff2'),
        url("cinema_pro_neoflix/fonts/Ubuntu-Regular.woff") format('woff'),
        url("cinema_pro_neoflix/fonts/Ubuntu-Regular.eot") format('eot');
    font-display: swap;
    }

    